body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #10002b;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.search_form {
  width: 60%;
  color:#e5e5e5;
  display: flex;
  border-radius: 20px;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}

.search_input {
  flex: 3;
  color:#e5e5e5;
  padding: 8px;
  border: 1px solid #000000;
  border-radius: 20px;
  font-size: 16px;
  margin-right: 10px;
  box-sizing: border-box;
  box-shadow: 2px 2px 6px #e0aaff;
}

.search_button {
  background-color: #e0aaff;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}


.container {
  width: 90%;
  min-height: 100vh;
  padding: 5%;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spacer {
  width: 100%;
  height: 150px;
}

.spacer2 {
  width: 100%;
  height: 50px;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  margin: 10px 0;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.wallet-details-container {
  background-color: #f5f5f5;
  color:#14213d;
  width: 65%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border: 1px solid #000000;
  box-shadow: 2px 2px 6px #e0aaff;

}

.wallet-details-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.wallet-details-table th, .wallet-details-table td {
  padding: 8px;
  border: 1px solid #ccc;
  text-align: left;
}

.wallet-details-table th {
  background-color: #f2f2f2;
}

@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

body{
    background-color: #10002b;
    margin: 0; /* Reset default body margin */
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Titillium Web", sans-serif;
}

:root {
	--mainColor: #29335c;
	--mainColorLight: #5767aa;
	--secondaryColor: #db2b39;
	--textColor: #eee;
}

header {
	display: flex;
	justify-content: space-between;
	height: 80px;
	padding: 0 2rem;
	background-color: #10002b;
	color: var(--textColor);
    
}

nav {
    margin-left: auto; /* Move the nav to the right */
}

nav a {
	margin: 0 1rem;
	color: var(--textColor);
	text-decoration: none;
	position: relative;
	transition: color 0.3s ease, border-bottom-color 0.3s ease;
    font-size: 1.2rem;
}

h3{
    font-size: 1.3rem;
}

nav a::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: -2px;
	height: 2px;
	background-color: #e0aaff;
	transform: scaleX(0);
	transform-origin: center bottom;
	transition: transform 0.3s ease;
}

nav a:hover {
	color: #e0aaff;
}

nav a:hover::after {
	transform: scaleX(1);
}

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

header div,
nav {
	display: flex;
	align-items: center;
  margin-top: 50px;
}


.logo-container {
	display: flex;
	align-items: center;
}

.logo {
	width: 40px; /* Adjust as needed */
	height: auto; /* Maintain aspect ratio */
	margin-right: 10px; /* Add space between logo and text */
}

@media only screen and (max-width: 1024px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	header nav {
		position: fixed;
		top: -100vh;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: var(--mainColor);
		transition: 1s;
	}

	header .responsive_nav {
		transform: translateY(100vh);
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a {
		font-size: 1.5rem;
	}
}

@media only screen and (max-width: 768px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  header nav {
    position: fixed;
    top: -500vh;
    left: 0;
    height: 100%;
    width: 300%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--mainColor);
    transition: 1s;
  }

  header .responsive_nav {
    transform: translateY(100vh);
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav a {
    font-size: 1.5rem;
  }
}


