@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

body{
    background-color: #10002b;
    margin: 0; /* Reset default body margin */
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Titillium Web", sans-serif;
}

:root {
	--mainColor: #29335c;
	--mainColorLight: #5767aa;
	--secondaryColor: #db2b39;
	--textColor: #eee;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 0 2rem;
	background-color: #10002b;
	color: var(--textColor);
    
}

nav {
    margin-left: auto; /* Move the nav to the right */
}

nav a {
	margin: 0 1rem;
	color: var(--textColor);
	text-decoration: none;
	position: relative;
	transition: color 0.3s ease, border-bottom-color 0.3s ease;
    font-size: 1.2rem;
}

h3{
    font-size: 1.3rem;
}

nav a::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: -2px;
	height: 2px;
	background-color: #e0aaff;
	transform: scaleX(0);
	transform-origin: center bottom;
	transition: transform 0.3s ease;
}

nav a:hover {
	color: #e0aaff;
}

nav a:hover::after {
	transform: scaleX(1);
}

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

header div,
nav {
	display: flex;
	align-items: center;
}


.logo-container {
	display: flex;
	align-items: center;
}

.logo {
	width: 40px; /* Adjust as needed */
	height: auto; /* Maintain aspect ratio */
	margin-right: 10px; /* Add space between logo and text */
}

@media only screen and (max-width: 1024px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	header nav {
		position: fixed;
		top: -100vh;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: var(--mainColor);
		transition: 1s;
	}

	header .responsive_nav {
		transform: translateY(100vh);
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a {
		font-size: 1.5rem;
	}
}




    

